body {
  background-color: rgb(20,20,20);
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", sans-serif;
  color: rgb(235,235,235);

  font-size: 14px;
}



.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: rgb(235,235,235);

  transition: color .5s;

}

.links li a:hover {
  color: rgba(255,255,255);
  
  transition: color .5s;
}
